body{
    margin-left: 1em;
    display: flex;
    flex-direction: column;
}

.h1-body {
    font-size: large;
}
.quote {
    padding: 1em;
    background-color: #f8f8f8;
    border-left: 1em solid rgb(181, 180, 180);
    display: inline-flex;
    
}